<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=PT+Serif&display=swap" rel="stylesheet">


<link href="https://fonts.googleapis.com/css?family=Cookie&display=swap" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<style type="text/css">
  .btn{
    margin-left: 50px;
    background-color: black;
    color: white;
    font-size: 30px;
    font-family: sans-serif;
  }
.nav-link:hover{
  color: black !important;
  }
  .classy-navbar .nav-brand {
    max-width: 150px;
}
.classy-navbar .nav-brand {
    font-size: 26px;
    font-weight: 500;
    color: black;
    display: inline-block;
    margin-right: 20px;
}
#logo img{
  width: 60px;
  height: 50px;
}

.centered {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
.textt{
	font-size: 26px;
    font-weight: 500;
    color: white;
    display: inline-block;
}

</style>
</head>
<body style="background-color: black">
<nav style="background-color: #404444 ;" class="navbar navbar-expand-lg navbar-light bg-light-blue fixed-top" id="navbar">
    <div class="container">
      <a style="color: white;font-size: 30px; font-family: 'Rubik', serif;" class="navbar-brand" href="#" id="logo"><img src="https://img.pngio.com/music-logo-png-95-images-in-collection-page-1-music-logo-png-702_695.png" alt="Music">BigSounds</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a style="color: white; font-size: 23px;font-family: serif;" class="nav-link" href="about-us.html">Upload</a>
        </li>
        <li class="nav-item">
          <a style="color: white; font-size: 23px;font-family: serif;" class="nav-link" href="login.html">Login</a>
        </li>
        <li class="nav-item">
          <a style="color: white; font-size: 23px;font-family: serif;" class="nav-link" href="sign_up.html">Sign-Up</a>
        </li>
      </ul>
    </div>

  </div>
</nav>

<div>
	<img src="https://images.pexels.com/photos/811838/pexels-photo-811838.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" width="100%">
	<div class="centered">
		<p class="textt"><b></b></p>
	</div>
</div><br><br>
<footer style=" background: linear-gradient(to bottom, black , lightblue);">
<div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <figure><img style="height: 400px;width:550px;margin-top: 30px;margin-left: 30px;border-radius: 25px;" src="https://images.pexels.com/photos/2078076/pexels-photo-2078076.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"></figure>
            </div>
            <div class="col-lg-6">
             <br><h1 style="color: lightblue;font-weight:400px;font-size: 65px; font-family: 'Rubik', serif">Stream your favorite song.</h1>
             <p style="font-size: 50px;color: white; font-family: 'Cookie', cursive;">Create a playlist or try one of ours, hand-curated by music editors and even the artists themselves, you’ll get the ultimate music experience.</p>
            </div>
        </div>
    </div><br><br>
    <div class="container-fluid" style="margin-top: 40px;">
        <div class="row">
            <div class="col-lg-6 ">
                <strong><h1 style="color: lightblue;font-weight:400px;font-size: 55px; font-family: 'Rubik', serif;margin-left: 40px;">The highest quality audio available</h1></strong>
                <p style="margin-top: 25px;color: black;font-size: 45px; font-family: 'Cookie', cursive;margin-left: 40px;">No compromises. Just pure sound. With our lossless audio experience and high-fidelity sound quality, stream your music like you’ve never heard before.</p>
            </div>
            <div class="col-lg-6">
                <figure><img style="height: 400px;width:550px;margin-top: 30px;border-radius: 20px;float: right;margin-right: 30px;" src="https://images.pexels.com/photos/1813124/pexels-photo-1813124.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"></figure>
            </div>
        </div>
    </div><br><br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <figure><img style="height: 400px;width:550px;margin-top: 30px;margin-left: 30px;border-radius: 25px;" src="https://images.pexels.com/photos/2747449/pexels-photo-2747449.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"></figure>
            </div>
            <div class="col-lg-6">
             <br><h1 style="color: lightblue;font-weight:400px;font-size: 70px; font-family: 'Rubik', serif">Listen on your terms.</h1>
             <p style="font-size: 50px;color: black; font-family: 'Cookie', cursive;">Whether it’s a playlist curated by your favorite artist, a behind-the-scenes look before they get on stage, or an in-depth conversation about their craft, Big Sounds brings you closer to your music icons.</p>
            </div>
        </div>
    </div><br><br>
    <div class="container-fluid" style="margin-top: 40px;">
        <div class="row">
            <div class="col-lg-6 ">
                <strong><h1 style="color: black;font-weight:400px;font-size: 65px; font-family: 'Rubik', serif;margin-left: 40px;">My Mix.</h1></strong>
                <p style="margin-top: 25px;color: black;font-size: 55px; font-family: 'Cookie', cursive;margin-left: 40px;">A personalized mix of songs based on your listening history — letting you enjoy more of the music you love.</p>
            </div>
            <div class="col-lg-6">
                <figure><img style="height: 400px;width:600px;margin-top: 30px;border-radius: 20px;float: right;margin-right: 30px;" src="https://images.pexels.com/photos/2559173/pexels-photo-2559173.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"></figure>

    </div><br><br><br><br><br>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
